.chroma .language-dockerfile .err {
    display: none;
}

.post-gitinfo,
.post-share,
.updated-badge-container,
.post-nav {
    margin-top: 2rem;
}

.post-copyright {
    margin-top: 3rem;
}

.main {
    padding-bottom: 7em;
}