.chroma .language-dockerfile .err {
    display: none;
}

.post-gitinfo,
.post-share,
.updated-badge-container,
.post-nav {
    margin-top: 2rem;
}

.post-copyright {
    margin-top: 3rem;
}

.main {
    padding-bottom: 7em;
}



@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --chroma-line-numbers-background: #3d3f4a;
    }
}

@if ($defaultTheme == "dark") {
    :root {
        --chroma-line-numbers-background: #3d3f4a;
    }
} @else {
    :root[data-theme="dark"] {
        --chroma-line-numbers-background: #3d3f4a;
    }
}